---
import ReactIcon from "./icons/ReactIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import myImage from "../assets/image.png"
import myImage2 from "../assets/image2.png"
import { Image } from 'astro:assets';
import type { preview } from "astro";

const TAGS={
    EXCEL:{
        name: "Excel",
        class:"bg-green-100 text-green-800",
        icon:"./icons/excel.svg",
    },
    REACT:{
        name: "React",
        class:"bg-blue-100 text-blue-800",
        icon:ReactIcon,
    },
    TAILWINDCSS:{
        name: "Tailwind CSS",
        class:"bg-green-100 text-sky-800",
        icon:TailwindIcon,
    },
    // TYPESCRIPT:{
    //     name: "TypeScript",
    //     class:"",
    //     icon:TypeScriptIcon,
    // },
    // JAVASCRIPT:{
    //     name: "JavaScript",
    //     class:"",
    //     icon:JavaScriptIcon,
    // },
}
const PROJECTS = [
    {
        title: "Empleabilidad USA",
        description: "An치lisis tomando en cuenta par치metros como las diferentes industrias existentes.",
        tags: [TAGS.REACT, TAGS.TAILWINDCSS, TAGS.EXCEL],
        image: myImage,
        preview: "#"
    },
    {
        title: "Proyecto 2",
        description: "Descripci칩n del proyecto 2",
        link: "#",
        tags: [TAGS.REACT, TAGS.TAILWINDCSS],
        image: myImage2,
        preview: "#"
    },
    // {
    //     title: "Proyecto 3",
    //     description: "Descripci칩n del proyecto 3",
    //     link: "#",
    //     tags: ["JavaScript", "React", "Node.js"],
    //     image: "/path/to/image1.jpg",
    // }
];
---
<section id="projects">
    <h1>Proyectos</h1>
    <div class="grid grid-cols-3 gap-6">
        {
            PROJECTS.map(({title, description, tags, image}) => (
                <article class="bg-zinc-400 rounded-xl">
                    <Image src={image} alt={title} class="w-full h-auto rounded-lg shadow-md" />
                    {/* <ul class="flex flex-row gap-x-2">
                    {tags.map((tag) => (
                        <li>
                            {/* <span class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${tag.class}`}>
                            <tag.icon class="size-4"/>
                              {tag.name}
                            </span> 
                        </li>
                        ))}
                    </ul> 
                    */}
                    <div class="m-2 flex flex-col gap-2 text-body">
                      <h3 class="text-xl font-bold text-blue-800">{title}</h3>
                      <p class="text-base text-zinc-700">{description}</p>
                      <a href="#" class="inline-block w-fit text-blue-200 bg-blue-800 rounded-xl p-2 hover:bg-blue-800/70 transition-colors duration-500">Preview</a>
                    </div>
                </article>
            ))
        }
    </div>
</section>
